/__pycache__
/app/__pycache__
/app/routing_data
*.log
*.tmp
*.swp
.DS_Store
.env
.vscode/
.idea/
viteze_drum300.gpkg
routing_Catalin.gpkg
route.gpkg
unique_cluj.geojson
data/
start.gpkg
output.gpkg
test.py

